@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding-top: 27px;
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }
  &__title{
    max-width: 1050px;
    line-height: 150%;
    text-align: center;
    margin: 0 auto;
  }
  &__title--wildberries{
    color: #BE20A5;
  }
  &__title--ozon{
    color: #0069FF;
  }
}

.nav{
  margin-left: auto;
  padding-top: 12px;
}

.menu__list{
  display: flex;
  
  &-item{
    margin-right: 48px;
  }
  &-link{
    @extend %sofiaproregular-400;
    color: $text;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.3px;
  }
  &-link--active{
    color: $accent;
  }
}

.menu__btn{
  padding-top: 8px;
}

.menu__link-btn{
  @extend %sofiaproregular-400;
  border: 1px solid $accent;
  border-radius: 100px;
  padding: 10px 24px 12px;
  background: transparent;
  color: $accent;
}

.benefits{
  padding: 35px 0 215px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__img{
    border-radius: 5px;
    margin-right: 33px;
  }
  &__info-box{
    margin-left: 22px;
    margin-bottom: 18px;
  }
  &__info-item{
    margin-bottom: 27px;
    &:last-child{
      margin-bottom: 45px;
    }
  }
  &__info-title{
    @extend %gerbera-bold-700;
    font-size: 18px;
    line-height: 120%;
    color: $title;
    margin-bottom: 8px;
  }
  &__info-text{
    line-height: 130%;
    color: rgba(0, 0, 0, 0.5);
  }
  &__box{
    padding: 24px 24px 40px 24px;
    background-color: $accent;
    border-radius: 15px;
  }
  &__box-title{
    @extend %gerbera-bold-700;
    line-height: 120%;
    color: $white;
    font-size: 18px;
    margin-bottom: 12px;
    max-width: 180px;
  }
  &__box-text{
    @extend %sofiaproregular-400;
    font-size: 14px;
    line-height: 130%;
    color: $white;
    margin-bottom: 20px;
  }
  &__box-link{
    @extend %sofiaproregular-400;
    padding: 12px 50px;
    background-color: #f6fbf8;
    border-radius: 8px;
    color: $accent;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }
}

.features{
  padding-bottom: 150px;
  position: relative;
  &__title{
    line-height: 53px;
    max-width: 630px;
    margin-bottom: 60px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 58px 36px;
    max-width: 780px;
  }
  &__item-title{
    @extend %gerbera-black-900;
    color: $title;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 8px;
  }
  &__item-text{
    @extend %gerbera-regular-400;
    font-size: 20px;
    line-height: 174%;
    color: $text;
  }
  &__img{
    position: absolute;
    margin-left: auto;
    right: 0;
    top: 40px;
  }
}

.slider{
  padding-bottom: 150px;
  &__item-titlebox{
    min-height: 290px;
    max-width: 235px;
  }
  &__title{
    line-height: 150%;
    max-width: 660px;
    margin-bottom: 60px;
  }
  &__item{
    max-width: 282px;
    background-color: $accent;
    padding: 27px 23px 24px 24px;
    border-radius: 8px;
    max-height: 360px;
  }
  &__item-titlebox{
    max-height: 100px;
  }
  &__item-title{
    @extend %gerbera-bold-700;
    font-size: 24px;
    color: $white;
    max-width: 235px;
    line-height: 140%;
    padding-bottom: 222px;
  }
  &__item-link{
    font-size: 16px;
    line-height: 12px;
    opacity: 0.8;
    color: $white;
  }
  &__item-text{
    margin-top: -95px;
    opacity: 0;
  }
  &__item-link{
    padding-right: 17px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/arrows/arrow-up.svg');
      width: 9px;
      height: 6px;
      right: 0;
      top: 10px;
    }
    &:hover{
      opacity: 0;
    }
  }
}

.slick-arrow{
  background-color: #F1FCF6;
  border: none;
  font-size: 0;
  position: absolute;
  top: -110px;
  right: 65px;
}

.slick-prev,
.slick-next{
  transition: all .3s;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  &:hover{
    background-color: $accent;
  }
}

.slick-prev{
  background-image: url('../images/arrows/arrow-left.svg');
  right: 120px;
  &:hover{
    background-image: url('../images/arrows/arrow-left-active.svg');
  }
}

.slick-next{
  background-image: url('../images/arrows/arrow-right.svg');
  &:hover{
    background-image: url('../images/arrows/arrow-right-active.svg');
  }
}

.info{
  background-color: #F1FCF6;
  padding-bottom: 165px;
  margin-bottom: 115px;
  &__title{
    padding-top: 135px;
    text-align: center;
    margin-bottom: 115px;
  }
  &__items{
    display: grid;
    grid-gap: 105px 60px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  &__item{
    max-width: 356px;
  }
  &__item-img{
    margin: 0 auto;
  }
  &__item-title{
    @extend %gerbera-black-900;
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $title;
    margin-bottom: 8px;
  }
  &__item-text{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}

.rates{
  padding-bottom: 120px;
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
  }
  &__title{
    text-align: left;
    line-height: 53px;
  }
  &__box{
    display: flex;
  }
  &__box-btn{
    font-size: 18px;
    letter-spacing: -0.3px;
    line-height: 180%;
    padding: 4px 16px 8px;
    color: $accent;
  }
  &__box-btn--active{
    background-color: $accent;
    color: $white;
  }
  &__action{
    background-color: #fff;
    border: 1px solid #e7ebeb;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    padding: 18px 15px 13px;
    text-align: center;
    font-size: 19px;
    line-height: 173%;
    margin-bottom: 40px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    display: none;
    margin-bottom: 60px;
  }
  &__items--active{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    padding: 25px 0;
  }
  &__item--left{
    padding-right: 30px;
  }
  &__item--center{
    padding: 25px 30px;
    background-color: #f1fcf6;
    border-left: 1px solid #e7ebeb;
    border-right: 1px solid #e7ebeb;
  }
  &__item--right{
    padding-left: 30px;
  }
  &__item-top{
    display: flex;
    justify-content: space-between;
  }
  &__top-title{
    font-size: 30px;
    letter-spacing: 0;
    line-height: 147%;
  }
  &__top-dotted{
    border-bottom: 1px dotted #C0D5D5;
  }
  &__top-price{
    @extend %gerbera-bold-700;
    position: relative;
    font-size: 24px;
    line-height: 147%;
    color: $accent;
    margin-top: auto;
    span{
      @extend %gerbera-regular-400;
      position: absolute;
      font-size: 13px;
      line-height: 147%;
      text-decoration-line: line-through;
      color: $action;
      top: -13px;
      right: 0;
    }
  }
  &__top-subtitle{
    @extend %sofiaproregular-400;
    font-size: 12px;
    line-height: 180%;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $text;
    margin-bottom: 35px;
  }
  &__box{
    display: flex;
  }
  &__subtitle{
    @extend %gerbera-regular-400;
    font-size: 16px;
    line-height: 28px;
    color: $title;
    margin-bottom: 30px;
  }
  &__box-img{
    margin: 0 0 25px 5px;
  }
  &__list{
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 61, 55, 0.5);
    margin-bottom: 22px;
  }
  &__box-item{
    display: flex;
    &:first-child{
      margin-bottom: 30px;
    }
    &:nth-child(8){
      margin-bottom: 45px;
    }
    &:nth-child(11){
      margin-bottom: 45px;
    }
  }
  &__list-item{
    margin-bottom: 10px;
  }
  &__item--active{
    color: $title;
  }
  &__box-itemimg{
    margin: 0 0 5px 5px;
  }
  &__box-dotted{
    border-bottom: 1px dotted #c0d5d5;
    margin-bottom: 15px;
    margin-left: 3px;
    flex: 1;
  }
  &__box-check{
    padding: 0 0 5px 6px;
  }
  &__text{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $accent;
    margin-bottom: 15px;
  }
  &__btn{
    border: 1px solid $accent;
    background-color: $white;
    border-radius: 333px;
    padding: 18px 73px;
    font-size: 20px;
    line-height: 20px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all .3s;
    &:hover{
      background-color: $accent;
      color: $white;
    }
  }
  &__excerpt{
    color: $text;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.3px;
    a{
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
}

.information{
  padding: 115px 0 100px;
  background-image: url('../images/information-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title{
    @extend %gerbera-medium-500;
    color: $title;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.3px;
    margin-bottom: 50px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    padding-left: 66px;
    position: relative;
    
  }
  &__item--list::before,
  &__item--cart::before,
  &__item--setting::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
  }
  &__item--list::before{
    background-image: url('../images/icons/list.svg');
  }
  &__item--cart::before {
    background-image: url('../images/icons/cart.svg');
  }
  &__item--setting::before {
    background-image: url('../images/icons/setting.svg');
  }
  &__item-text{
    color: $title;
    line-height: 28px;
    font-size: 16px;
    max-width: 280px;
    span{
      @extend %gerbera-bold-700;
    }
  }
}




.form{
  padding: 58px 0 48px;
  background-color: $accent;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text{
    font-size: 24px;
    line-height: 40px;
    color: $white;
    max-width: 485px;
  }
  &__input{
    border: none;
    background-color: transparent;
    width: 335px;
    padding-bottom: 15px;
    border-bottom: 1px solid $white;
    outline: none;
    color: $white;
    margin-right: 30px;
    &::placeholder{
      color: $white;
      font-size: 20px;
      line-height: 20px;
    }
  }
  &__btn{
    background-color: #d1f8e2;
    border-radius: 333px;
    padding: 17px 28px;
  }
}

.footer{
  background-color: $title;
  &__top{
    display: flex;
    justify-content: space-between;
    
    padding: 100px 0;
    border-bottom: 1px solid rgba($white, 0.1);
  }
  &__contacts{
    max-width: 325px;
    @extend %gerbera-regular-400;
    color: $white;
  }
  &__contacts-title{
    font-size: 18px;
    @extend %gerbera-bold-700;
    line-height: 40px;
  }
  &__contacts-text{
    font-size: 16px;
    line-height: 29px;
    opacity: 0.7;
    margin-bottom: 10px;
  }
  &__contacts-link{
    @extend %gerbera-regular-400;
    font-size: 16px;
    line-height: 29px;
    color: $white;
    opacity: 0.7;
    display: block;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  &__item-link{
    color: $white;
    font-size: 18px;
    line-height: 36px;
    border-bottom: 1px solid $white;
    padding-bottom: 0px;
  }
  &__socials-box{
    display: flex;
    margin-bottom: 15px;
  }
  &__socials-link + .footer__socials-link{
    margin-left: 20px;
  }
  &__socials-text{
    @extend %gerbera-bold-700;
    max-width: 165px;
    font-size: 18px;
    line-height: 29px;
    color: $white;
  }
  &__bottom{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    line-height: 22px;
    color: #9f9f9f;
  }
  &__bottom-license,
  &__bottom-privacy{
    margin-left: 32px;
    line-height: 22px;
    color: #9f9f9f;
    font-size: 14px;
    border-bottom: 1px solid #9f9f9f;
    padding-bottom: 0;
  }
}



































@import 'media';